  - name: Install Apache
    yum: pkg=httpd state=present

  - name: Add configuraction file in Apache conf.d
    copy: src=files/configuration.conf dest=/etc/httpd/conf.d/configuration.conf

  - name: Create default HTML with SO version
    template: src=templates/index.html dest=~/index_new.html

  - name: restart Apache
    service: name=httpd state=restarted