---
- name: My first playbook :)
  hosts: "webservers"
  become: true
  become_user: root
  roles:
    - role: geerlingguy.ntp
      ntp_timezone: Europe/Madrid

    - { role: geerlingguy.apache }
    - { role: geerlingguy.firewall }

    - role: geerlingguy.repo-remi
      when: ansible_os_family == 'RedHat'

    - { role: geerlingguy.php-versions }
    - { role: geerlingguy.php }
    - { role: geerlingguy.composer }

    - { role: geerlingguy.mysql }
